extends layout

block content
  
  if alertmsg!=''
    p(class="alert alert-danger")!= alertmsg
  
  each item in results
    if item.ext=='.torrent'
      p(class="alert alert-success")
        span(class="glyphicon glyphicon-ok")
        a(href="#" class="alert-link") TORRENT
        strong!=item.file
        |  (Downloading..)
    else 
      p(class="alert alert-success")
        span(class="glyphicon glyphicon-ok")
        a(href="#" class="alert-link") 다운로드
        strong!=item.file
        |  (Downloading..)


  a(href="/" class="btn btn-default")
    span(class="glyphicon glyphicon-home")
    |  처음으로
